<link href="~/client/styles.31d6cfe0d16ae931b73c.css" rel="stylesheet" />

<city></city>

<p>TEST</p>

<script src="~/client/polyfills.7d99fe739f19bbf4acee.js"></script>
<script src="~/client/runtime.4b1540bf51da5ef20c67.js"></script>
<script src="~/client/main.bad263820575a6f5b6b9.js" asp-append-version="true"></script>