<!DOCTYPE html>
    <html>
    <head>
        <link href="~/client/styles.31d6cfe0d16ae931b73c.css" rel="stylesheet" />
        <title>Here is the title...</title>
    </head>
    <body>
    <script src="~/client/polyfills.7d99fe739f19bbf4acee.js"></script>
    <script src="~/client/runtime.4b1540bf51da5ef20c67.js"></script>
    <script src="~/client/main.d43d7ce8075acf779812.js" asp-append-version="true"></script>
    <cities></cities>
    <h2>here is the body</h2>
    </body>
    </html>