<mat-sidenav-container [ngClass]="{light: themeService.lightTheme, medium: themeService.mediumTheme, dark: themeService.darkTheme}">
    <mat-sidenav mode="side" opened>
        <app-sidenav></app-sidenav>
    </mat-sidenav>
        <mat-sidenav-content>
            <br />
            <div class="main-table">
                <app-cities-only></app-cities-only>
            </div>
            <div>
                <app-city-add></app-city-add>
            </div>
            <br />
            <div>
                <app-settingsbutton></app-settingsbutton>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>

