@addTagHelper "*, Microsoft.AspNetCore.Mvc.TagHelpers"
<link href="~/client/styles.css" rel="stylesheet" />
<p>test</p>
<app-welcome></app-welcome>


<script src="~/client/polyfills.js"></script>
<script src="~/client/runtime.js"></script>
<script src="~/client/main.js" asp-append-version="true"></script>