<link href="~/client/styles.css" rel="stylesheet" />

<h1>test widoku Welcome</h1>

<script src="~/client/polyfills.js"></script>
<script src="~/client/runtime.js"></script>
<script src="~/client/main.js"></script>